@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Technica_Regular';
  src: local('Technica_Regular'), url(../fonts/Technica_Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Technica_Semi_Bold';
  src: local('Technica_Semi_Bold'), url(../fonts/Technica_Semi_Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Digital';
  src: local('Digital'), url(../fonts/Digital.ttf) format('truetype');
}

@font-face {
  font-family: 'SedanSC_Regular';
  src: local('SedanSC-Regular'), url(../fonts/SedanSC-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sora';
  src: local('Sora'), url(../fonts/Sora.ttf) format('truetype');
}

@font-face {
  font-family: 'Khand';
  src: local('Khand'), url(../fonts/Khand.ttf) format('truetype');
}

@font-face {
  font-family: 'Honk';
  src: local('Honk'), url(../fonts/Honk.ttf) format('truetype');
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: Technica_Regular;

  // @include breakpoint-down(medium) {}
}

button, input, select {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
  height: auto;
}

ul, ol {
  list-style: none;   
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-sb {
    align-items: space-between;
  }

  &-ai-fs {
    align-items: flex-start;
  }

  &-ai-fe {
    align-items: flex-end;
  }

  &-column {
    flex-direction: column;
  }

  &-end {
    justify-content: flex-end;
  }
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: #000;
  // background-image: url(../images/main-bg.png);
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-size {
  height: 100%;
  width: 100%;
}

.font-family-bold {
  font-family: Technica_Semi_Bold;
}

.font-family-digital {
  font-family: Digital;
}

.bold {
  font-weight: 600;
}

.logo-font {
  font-family: 'SedanSC_Regular';
}